<footer>

  <div class="footer--text">
    All Rights Reserved 💬 2021. Made with 💓 by Asa.
  </div>

    <ul>
      <h3>Links</h3>
      <a href="/privacy"><li>Privacy</li></a>
      <a href="/about"><li>About</li></a>
      <a href="/contact">
      <li>Contact</li>
      </a>
    </ul>

    <ul>
      <h3>Services</h3>
      <a href="/service/wordpress.md"><li>WordPress</li></a>
      <a href="/service/seo.md"><li>SEO</li></a>
      <a href="/service/copywriting.md">
      <li>Copywriting</li>
    </a>
    </ul>

    <ul>
      <h3>More</h3>
      <a href="/service/graphic-design.md"><li>Graphic Design</li></a>
      <a href="/service/web_development.md"><li>Web Development</li></a>
      <a href="/service/social_media_marketing.md">
      <li>Social Media Marketing</li>
    </a>
    </ul>
  
  </footer>

  <script src="/script.js"></script>
</body>
</html>