/** BTN **/

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 10px;
    transition: all .2s;
    position: relative;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(218, 218, 218, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(193, 193, 193, 0.2);
}

.btn-white {
    font-family: Jost;
    background-color: #FFD262;
    border-bottom-color: #E4B34F;
    border-top-color: #FFE8B2;
    box-shadow: 1px 1px 0 0 #e4b34f, 1px -1px 0 0 #e4b34f, -1px 1px 0 0 #e4b34f, -1px -1px 0 0 #e4b34f;
    color: #994122;
    border-radius: 3px;
    border-width: 1px 0 2px;
    font-size: 14px;
    padding: 0 20px;
    font-family: Roboto;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}


.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}