/* Style inputs with type="text", select elements and textareas */
input[type=textarea], 
input[type=name], 
input[type=email], 
{
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */ 
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  input[type=textarea] {
      padding-bottom: 128px;
  }
  

  .submit--button {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 10px;
    transition: all .2s;
    position: relative;
    border: none;
    margin-bottom: 12px;
    font-weight: 600;
    color: #102A43;
  }

