#faq {
    max-width: 100%;
    margin: 0 auto;
    margin-top: 96px;
    text-align: center;
    background-color: #fef7f2;
    padding: 92px 0;
    position: relative;
}

#faq:before {
    content:"";
    position:absolute;
    top:-60px;
    height:60px;
    left:0;
    right:0;
    background:linear-gradient(to bottom right, transparent 49%, #FEF7F2 50%);
    border: none;
   }


   #faq span {
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.4px;
    text-decoration: none;
    text-transform: uppercase;
    color: #e8c29e;
    margin: 24px 0 0;
    display: block;
}
   

.question {
    border-radius: 12px;
    padding: 12px 36px;
    margin-top: 16px;
    background-color: white;
    box-shadow: 0px 70px 40px -50px rgba(0, 0, 0, 0.2), 0px 3px 20px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    margin: 32px auto;
}

.question h3 {
    padding-top: 24px;
    border-bottom: 1px solid #788c9b33;
    padding-bottom: 12px;
}

.question p {
    color: #788C9B;
    margin-top: 12px;
}

.question__wrapper {
    text-align: left;
}




@media only screen and (min-width: 850px) { 

    #faq { 
        margin-top: 192px;
    }


    #faq h2 {
        text-align: center;
        font-size: 60px;
        line-height: 72px;
        font-weight: 800;
    }

    .question__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 1100px;
        max-width: 90%;
        margin: 0 auto;
        grid-gap: 48px;
        margin-top: 32px;
    }

    .question { 
       margin: none;
       max-width: none;
       margin-top: 16px;
    }

}