


.left__image__points {
    padding: 16px;
    text-align: center;
    font-weight: 500;
    background-color: white;
    margin: 16px 0;
    border-radius: 6px;
    font-size: 18px;
}

.left__image__points span {
    padding-right: 8px;
    font-size: 30px;
}

#left__image {
    position: relative;
    max-width: 90%;
    margin: 0 auto;
    
}

.shape__purple {
    width: 358px;
    height: 355px;
    top: 0px;
    left: -56px;
    background: #6A14BA;
    border-radius: 200px;
    z-index: -1;

    position: absolute;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    mix-blend-mode: multiply;
    opacity: 0.2;
    -webkit-animation: random 7s infinite;
    animation: random 7s infinite;
}


.shape__orange {
    width: 282px;
    height: 320px;
    bottom: 11px;
    right: 170px;
    background: #ff8a00;
    border-radius: 160px;
    z-index: -2;
    animation-direction: reverse;

    position: absolute;
    -webkit-filter: blur(40px);
    filter: blur(40px);
    mix-blend-mode: multiply;
    opacity: 0.2;
    -webkit-animation: random 7s infinite;
    animation: random 7s infinite;

}


#left__image h2 { 
    padding-top: 48px;
 }



 @media only screen and (min-width: 850px) {   

    #left__image h2 { 
        padding-top: 0px;
     }

    #left__image { 
        width: 1100px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 64px auto;
        grid-gap: 24px;
    }

    .shape__orange { 
        left: 100px;
    }

    #left__image h2 {   
        font-size: 48px;
        line-height: 56px;
        font-weight: 800;
    }

    #left__image p {   
        color: #788C9B;
        width: 550px;
        max-width: 90%;
        font-size: 22px;
        line-height: 32px;
        margin-top: 12px;
    }
 }