* { margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: 'Jost';
    color: #616e7c;
    overflow-x: hidden;
    border-top: 6px solid #fac601;
}

img {
    max-width: 100%;
}

/** title **/

h1 {
    font-size: 36px;
    line-height: 44px;
    color: #1F2933;
}

h2 {
    font-size: 30px;
    line-height: 38px;
    color: #1F2933;
}

h3 {
    font-size: 24px;
    line-height: 32px;
    color: #102A43
}

p {
    margin: 1.3rem 0;
    color: #102A43;
    font-size: 20px;
    line-height: 28px;
}


ul {
    padding-left: 0px;
    font-size: 20px;
    line-height: 32px;
    padding: 16px 0;
}

ul a {
    color: #788C9B;
}

iframe {
    max-width: 90%;
}

strong {
    color: #FF4949;
}



.italic {
    font-style: italic;
    color: #788C9B;
    font-size: 20px;
    line-height: 28px;
}




#website__2 {   
    width: 340px;
    transform: rotate(353deg);
    position: absolute;
    left: -390px;
    top: 101px;
    z-index: -2;
    border-radius: 10px;
}


#home {
    max-width: 90%;
    margin: 48px auto;
    position: relative;
}

#main_svg {
    position: absolute;
    z-index: -99;
}



@media only screen and (min-width: 850px) {   

    p {
        font-size: 20px;
        line-height: 32px;
    }

    .italic {
        font-size: 22px;
        line-height: 32px;
    }


}



@font-face {
    font-family: Roboto;
    src: url("/assets/fonts/Roboto-Regular.ttf");
    font-weight: 500;
}


@font-face {
    font-family: Roboto;
    src: url("/assets/fonts/Roboto-Bold.ttf");
    font-weight: 600;
}




@font-face {
    font-family: 'French Fries';
    src: url('/assets/fonts/FrenchFries-Regular.woff') format('woff2'),
        url('/assets/fonts/FrenchFries-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Jost';
    src: url('/assets/fonts/Jost-Regular.woff2') format('woff2'),
        url('/assets/fonts/Jost-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('/assets/fonts/Jost-SemiBold.woff2') format('woff2'),
        url('/assets/fonts/Jost-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('/assets/fonts/Jost-Italic.woff2') format('woff2'),
        url('/assets/fonts/Jost-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}









/** header **/

header {
    text-align: center;
    max-width: 90%;
    margin: 0 auto;
    padding-top: 32px;
    margin-top: 96px;
}

header span {
    font-size: 58px;
    animation: moveInBottom 1s ease-in-out;
}

header h1 {
    color: #FF4949;
    line-height: 40px;
    animation: moveInBottom 1s ease-in-out;
    font-family: 'French Fries';
}


header p {
    color: #788C9B;
    animation: moveInBottom 1s ease-in-out;
    display: inline-block;
}


#path_1 {
    position: absolute;
    z-index: -1;
    left: -100px;
    width: 250px;
    top: 50px;
}

.header__images {
    position: relative;
    animation: moveInRight 1s ease-in-out;
} 

#header__images__bg__1 {
    position: absolute;
    right: 70px;
    z-index: -1;
    width: 160px;
    top: -33px;
    z-index: -99;
}

#header__images__bg__2 {
    position: absolute;
    left: 12px;
    z-index: -1;
    width: 100px;
    top: -31px;
}



#arrow_svg {
    width: 70px;
    position: absolute;
    right: 65px;
    transform: rotate(39deg);
}

#website__3 {
    display: none;
}


@media only screen and (min-width: 850px) { 

header {
    width: 1100px;
    max-width: 90%;
    margin: 24px auto;
    margin-top: 128px;
}    

header h1 {
    font-size: 72px;
    line-height: 76px;
}

header p {
    font-size: 22px;
    line-height: 32px;
    width: 550px;
    max-width: 90%;
}


.header__content {
    text-align: left;
    width: 700px;
    max-width: 90%;
}

.header__images {
    position: absolute;
    right: -3rem;
    top: 3rem;
}

#arrow_svg {
    width: 88px;
    right: 130px;
    transform: rotate(70deg);
    top: 4rem;
    opacity: .4;
    z-index: -2;
}

#website__3 {
    display: block;
    width: 230px;
    transform: rotate(352deg);
    position: absolute;
    z-index: -2;
    border-radius: 10px;
    left: 58px;
    top: 270px;
    animation: animation1 18s ease-out infinite;
}} 




main {
    position: relative;
}

#main_svg {
    position: absolute;
    z-index: -99;
}




@media only screen and (min-width: 850px) {  

    main h2, main h3 {
        margin: 48px 0 4px 0;
    }

    #home { 
        width: 1100px;
        display: grid;
        grid-template-columns: 60% 40%;
        grid-gap: 64px;
        margin: 96px auto;
        margin-top: 64px;
    }

    #main_svg {
        position: absolute;
        z-index: -99;
        width: 100px;
        top: 5rem;
        left: 1rem;
    }

}










