

nav {
    position: fixed;
    background-color: transparent;
    top: 0;
    left: 0;
    right: 0;
    transition: all .3s ease-in;
    z-index: 99;
    border-top: 6px solid #fac601;
}

nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .3s ease-in;
    width: 1100px;
    margin: 0 auto;
    max-width: 80%;
}



nav ul li {
    display: inline-block;
    color: #8BA6B4;
    padding: 0 4px;
    font-size: 15px;
    font-family: Roboto;
}

nav.active {
    background-color: #fff;
    box-shadow: 0px 70px 40px -50px rgba(0, 0, 0, 0.2), 0px 3px 20px rgba(0, 0, 0, 0.1);
    padding: 12px 0;
}
nav.active nav ul {
    padding: 0;
}

nav.active li { 
    color: #994122;
}


#contact__nav {
    opacity: 0;
    transition: all .3s ease-in;
    list-style: none;
    text-decoration: none;
    font-family: Roboto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #8BA6B4;
    font-size: 15px;
}

#contact__img {
    width: 30px;
    display: block;
    padding-right: 8px;
    color: #f7eee7;
}

nav.active #contact__nav { 
    opacity: 1;
}

@media only screen and (min-width: 850px) { 

    #contact__nav,
    nav ul li { 
        font-size: 17px;
        padding: 0 32px;
    }

    nav ul {
        text-align: left;
    }

    nav ul li:first-child { 
        padding-left: 0;
    }




}


